*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color-white{
    color: white;
}

/* css nav */

.nav{
    height: 60px;
    position: fixed;
    width: 100vw;
    padding-left: 10px;
    background-color: white;
}

/* css sidebar */

.sidebar{
    height: calc(100vh - 60px);
    min-width: 50px;
    background-image: url(img/sidebar-bg.png);
    background-color: rgb(5, 30, 52);
}

.icons{
    width: 50px;
}

.display-menu{
    height: 100px;
    margin-top: 10px;
}

.settings{
    height: 70px;
}

.options{
    width: 90px;
}